require 'rubygems'

module <%= site_name.underscore.camelize %>
  class <%= site_name.underscore.camelize %> < ::Taza::Site
    def <%= partial_name.underscore %>_flow(params={})
      
    end
  end
end
